<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magicbeans.collaboration.mapper.ClothingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.magicbeans.collaboration.entity.Clothing">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="coding" property="coding" />
        <result column="clothingTypeId" property="clothingTypeId" />
        <result column="season" property="season" />
        <result column="brandName" property="brandName" />
        <result column="size" property="size" />
        <result column="price" property="price" />
        <result column="useNum" property="useNum" />
        <result column="rinse" property="rinse" />
        <result column="loveLevel" property="loveLevel" />
        <result column="buyTime" property="buyTime" />
        <result column="buySource" property="buySource" />
        <result column="userId" property="userId" />
        <result column="closetId" property="closetId" />
        <result column="place" property="place" />
        <result column="remark" property="remark" />
        <result column="newUseTime" property="newUseTime" />
        <result column="useStatus" property="useStatus" />
        <result column="depositWay" property="depositWay" />
        <result column="coordinate" property="coordinate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    create_time AS createTime,
    update_time AS updateTime,
        name, coding, clothingTypeId, season, brandName, `size`, price, useNum, rinse,
        loveLevel, buyTime, buySource, userId, closetId, place, remark, newUseTime, useStatus,depositWay,coordinate
    </sql>

</mapper>
